</div>
<div class="anchor-links">
  <div class="anchor-icon-links">
    <a class="footer-icon-link" href="https://instagram.com/genkaigarms?igshid=hrksn3ufd5x"><img src="images/instagram-white.png" alt="instagram logo"></a>
    <a class="footer-icon-link" href="https://www.facebook.com/genkai.garms"><img src="images/facebook-white.png" alt="facebook logo"></a>
    <a class="footer-icon-link" href="mailto:customersupport@genkai.co.uk"><img src="images/mail-white.png" alt="email logo"></a>
  </div>

  <div class="anchor-pages">
    <a href="/about#privacy-snap">Privacy</a>
    <a href="/about#delivery-snap">Delivery</a>
    <a href="/about#contact-snap">Contact Us</a>
  </div>

  <p>GENKAI</p>

</div>




</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="functions.js" charset="utf-8"></script>


</html>
