<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2.43em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 211">
  <title>Apple Pay</title>
  <g fill="none" fill-rule="evenodd">
    <!-- <rect width="35" height="25" fill="#017ECD" rx="4"></rect> -->
    <path d="M93.552 27.103c-6 7.1-15.602 12.702-25.203 11.901c-1.2-9.6 3.5-19.802 9.001-26.103C83.35 5.601 93.852.4 102.353 0c1 10.001-2.9 19.802-8.8 27.103zm8.701 13.802c-13.902-.8-25.803 7.9-32.404 7.9c-6.7 0-16.802-7.5-27.803-7.3c-14.301.2-27.603 8.3-34.904 21.202c-15.002 25.803-3.9 64.008 10.601 85.01c7.101 10.401 15.602 21.802 26.803 21.402c10.602-.4 14.802-6.9 27.604-6.9c12.901 0 16.602 6.9 27.803 6.7c11.601-.2 18.902-10.4 26.003-20.802c8.1-11.801 11.401-23.303 11.601-23.903c-.2-.2-22.402-8.7-22.602-34.304c-.2-21.402 17.502-31.603 18.302-32.203c-10.002-14.802-25.603-16.402-31.004-16.802zm80.31-29.004V167.82h24.202v-53.306h33.504c30.603 0 52.106-21.002 52.106-51.406c0-30.403-21.103-51.206-51.306-51.206h-58.507zm24.202 20.403h27.903c21.003 0 33.004 11.201 33.004 30.903c0 19.702-12.001 31.004-33.104 31.004h-27.803V32.304zM336.58 169.019c15.202 0 29.303-7.7 35.704-19.902h.5v18.702h22.403V90.21c0-22.502-18.002-37.004-45.706-37.004c-25.703 0-44.705 14.702-45.405 34.904h21.803c1.8-9.601 10.7-15.902 22.902-15.902c14.802 0 23.103 6.901 23.103 19.603v8.6l-30.204 1.8c-28.103 1.7-43.304 13.202-43.304 33.205c0 20.202 15.701 33.603 38.204 33.603zm6.5-18.502c-12.9 0-21.102-6.2-21.102-15.702c0-9.8 7.901-15.501 23.003-16.401l26.903-1.7v8.8c0 14.602-12.401 25.003-28.803 25.003zm82.01 59.707c23.603 0 34.704-9 44.405-36.304L512 54.706h-24.603l-28.503 92.11h-.5l-28.503-92.11h-25.303l41.004 113.513l-2.2 6.901c-3.7 11.701-9.701 16.202-20.402 16.202c-1.9 0-5.6-.2-7.101-.4v18.702c1.4.4 7.4.6 9.201.6z" fill="#000"/>
  </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="5.51em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 93">
  <title>Google Pay</title>
  <g fill="none" fill-rule="evenodd">
    <path d="M482.684 37.106L493.63 63.54h.129l10.687-26.435H512l-23.042 53.062h-7.168l8.577-18.562l-15.17-34.5h7.488zM457.85 35.89c5.12 0 9.151 1.344 12.096 4.096c2.945 2.753 4.417 6.465 4.417 11.266v22.722h-6.594v-5.12h-.318c-2.88 4.224-6.658 6.336-11.396 6.336c-4.031 0-7.424-1.216-10.175-3.584c-2.754-2.432-4.098-5.44-4.098-9.025c0-3.777 1.409-6.849 4.354-9.09c2.88-2.24 6.72-3.392 11.52-3.392c4.096 0 7.489.769 10.178 2.24v-1.6c0-2.432-.96-4.416-2.88-6.144c-1.92-1.665-4.161-2.497-6.721-2.497c-3.84 0-6.912 1.6-9.154 4.865l-6.08-3.84c3.328-4.801 8.322-7.233 14.85-7.233zM422.9 20.08c4.673 0 8.642 1.536 11.905 4.673c3.328 3.136 4.929 6.912 4.929 11.329c0 4.544-1.665 8.385-4.929 11.393c-3.201 3.073-7.168 4.609-11.905 4.609h-11.393V73.91h-6.914V20.08H422.9zm35.845 35.46c-2.816 0-5.12.704-7.042 2.048c-1.856 1.408-2.816 3.073-2.816 5.057c0 1.792.768 3.328 2.304 4.48c1.536 1.217 3.328 1.793 5.376 1.793c2.881 0 5.506-1.088 7.81-3.2c2.304-2.177 3.392-4.673 3.392-7.618c-2.175-1.728-5.184-2.56-9.024-2.56zM423.09 26.8h-11.584v18.755h11.584c2.754 0 5.058-.896 6.85-2.752c1.857-1.856 2.752-4.033 2.752-6.593c0-2.496-.895-4.673-2.752-6.529c-1.792-1.92-4.096-2.88-6.85-2.88z" fill="#5F6368"/>
    <path d="M306.916 35.954c4.672 0 8.386 2.048 10.307 4.352h.318v-3.2h8.194V72.31c0 14.466-8.512 20.419-18.625 20.419c-9.475 0-15.171-6.401-17.348-11.586l7.49-3.136c1.343 3.2 4.608 6.977 9.858 6.977c6.464 0 10.431-4.033 10.431-11.522v-2.816h-.318c-1.921 2.368-5.635 4.48-10.307 4.48c-9.793 0-18.753-8.513-18.753-19.522c0-11.073 8.96-19.65 18.753-19.65zm56.329.064c10.178 0 15.106 8.065 16.77 12.481l.896 2.24l-26.179 10.818c1.984 3.905 5.12 5.953 9.472 5.953c4.355-.128 7.427-2.24 9.666-5.505l6.656 4.48c-2.175 3.201-7.36 8.706-16.322 8.706c-11.137 0-19.393-8.577-19.393-19.587c0-11.65 8.385-19.586 18.434-19.586zM171.609 14.32c9.28 0 15.873 3.648 20.802 8.385l-5.889 5.888c-3.584-3.328-8.385-5.952-14.978-5.952c-12.225 0-21.826 9.857-21.826 22.083c0 12.225 9.537 22.082 21.826 22.082c7.937 0 12.482-3.2 15.362-6.08c2.369-2.369 3.905-5.761 4.545-10.434h-20.098v-8.32h28.163c.32 1.471.448 3.264.448 5.184c0 6.209-1.728 13.953-7.17 19.458c-5.376 5.569-12.16 8.513-21.185 8.513c-16.77 0-30.852-13.634-30.852-30.403c0-16.77 14.081-30.404 30.852-30.404zm50.888 21.634c10.818 0 19.65 8.257 19.65 19.586c0 11.266-8.832 19.586-19.65 19.586c-10.817 0-19.65-8.32-19.65-19.586c0-11.33 8.833-19.586 19.65-19.586zm42.755 0c10.817 0 19.65 8.257 19.65 19.586c0 11.266-8.833 19.586-19.65 19.586c-10.818 0-19.652-8.32-19.652-19.586c0-11.33 8.834-19.586 19.652-19.586zm75.271-19.586v57.543h-8.577V16.368h8.577zm-117.962 27.33c-5.888 0-11.01 4.801-11.01 11.842c0 6.977 5.122 11.842 11.01 11.842c5.889 0 11.01-4.865 11.01-11.842c0-7.04-5.121-11.841-11.01-11.841zm42.691 0c-5.89 0-11.01 4.801-11.01 11.842c0 6.977 5.12 11.842 11.01 11.842c5.888 0 11.008-4.865 11.008-11.842c0-7.04-5.12-11.841-11.008-11.841zm42.496-.063c-5.952 0-10.88 5.056-10.88 11.97c0 6.848 4.992 11.777 10.88 11.777c5.826 0 10.434-4.929 10.434-11.778c0-6.913-4.608-11.97-10.434-11.97zm55.753-.128c-4.352 0-10.434 3.904-10.178 11.457l17.475-7.297c-.96-2.432-3.84-4.16-7.297-4.16z" fill="#5F6368"/><path d="M95.363 17.296c-10.357-5.978-23.6-2.426-29.584 7.93L50.692 51.361c-4.365 7.546 1.255 10.183 7.521 13.94l14.517 8.38c4.916 2.835 11.195 1.151 14.03-3.758l15.51-26.858c5.21-9.025 2.118-20.559-6.907-25.77z" fill="#EA4335"/>
    <path d="M78.292 28.113l-14.516-8.379c-8.014-4.448-12.552-4.743-15.842.487L26.524 57.3c-5.98 10.35-2.42 23.586 7.93 29.552c9.025 5.21 20.559 2.118 25.77-6.907l21.82-37.796c2.848-4.916 1.164-11.202-3.752-14.037z" fill="#FBBC04"/>
    <path d="M81.086 9.052L70.89 3.162C59.612-3.346 45.191.514 38.682 11.793L19.268 45.413c-2.868 4.96-1.165 11.31 3.796 14.172l11.419 6.592c5.639 3.259 12.846 1.325 16.104-4.314l22.179-38.41c4.595-7.957 14.766-10.684 22.722-6.088L81.086 9.052z" fill="#34A853"/><path d="M41.44 21.411l-11.023-6.35c-4.916-2.828-11.195-1.152-14.03 3.751L3.163 41.663C-3.347 52.91.513 67.298 11.79 73.79l8.392 4.832l10.177 5.863l4.416 2.541c-7.84-5.248-10.33-15.765-5.536-24.047l3.424-5.915l12.54-21.666c2.828-4.89 1.145-11.157-3.765-13.986z" fill="#4285F4"/>
  </g>
</svg>


<svg class="PaymentLogo PaymentsCheckoutForm__paymentMethod" width="35" height="25" viewBox="0 0 35 25" xmlns="http://www.w3.org/2000/svg">
  <title>Visa</title>
  <g fill="none" fill-rule="evenodd">
    <path fill="#FFF" d="M0 4h35v17H0z"></path>
    <path fill="#191E70" d="M4 0h27a4 4 0 0 1 4 4H0a4 4 0 0 1 4-4z"></path>
    <path fill="#F7B600" d="M0 21h35a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4z"></path>
    <path fill="#191E70" fill-rule="nonzero"
      d="M16.86 8.22l-2.02 9.7h-2.46l2.02-9.7h2.46zm10.16 6.27l1.3-3.66.72 3.66h-2.02zm2.74 3.43H32l-1.95-9.7h-2.09c-.43 0-.86.3-1 .75l-3.61 8.95h2.52l.5-1.42h3.1l.3 1.42zm-6.34-3.2c0-2.54-3.4-2.7-3.4-3.81.08-.52.51-.82 1.02-.82a4.4 4.4 0 0 1 2.38.45l.43-2.1A5.97 5.97 0 0 0 21.62 8c-2.38 0-4.12 1.34-4.12 3.2 0 1.43 1.23 2.17 2.1 2.62.93.45 1.3.75 1.22 1.2 0 .66-.72.96-1.44.96-.87 0-1.73-.22-2.52-.6l-.44 2.1c.87.37 1.8.52 2.67.52 2.67.07 4.33-1.27 4.33-3.29zm-10.03-6.5l-3.89 9.7H6.9l-1.94-7.76c0-.37-.3-.67-.58-.82A8.21 8.21 0 0 0 2 8.52l.07-.3h4.11c.58 0 1.01.45 1.08.97l1.01 5.6 2.6-6.57h2.52z">
    </path>
  </g>
</svg>

<svg class="PaymentLogo PaymentsCheckoutForm__paymentMethod" width="35" height="25" viewBox="0 0 35 25" xmlns="http://www.w3.org/2000/svg">
  <title>Mastercard</title>
  <g fill="none" fill-rule="evenodd">
    <rect width="35" height="25" fill="#353A48" rx="4"></rect>
    <circle cx="12.5" cy="12.5" r="7.5" fill="#ED0006"></circle>
    <circle cx="22.5" cy="12.5" r="7.5" fill="#F9A000"></circle>
    <path fill="#FF5D00" d="M17.5 6.91a7.48 7.48 0 0 1 0 11.18 7.48 7.48 0 0 1-.06-11.13z"></path>
  </g>
</svg>

<svg class="PaymentLogo PaymentsCheckoutForm__paymentMethod" width="35" height="25" viewBox="0 0 35 25" xmlns="http://www.w3.org/2000/svg">
  <title>American Express</title>
  <g fill="none" fill-rule="evenodd">
    <rect width="35" height="25" fill="#017ECD" rx="4"></rect>
    <path fill="#FFF" fill-rule="nonzero"
      d="M17.57 12.47v-.68c0-.26-.27-.53-.53-.53h-.75v1.21h-.8V9.05h1.97c.49-.05.97.27 1.02.74v.26c0 .32-.16.63-.48.8.27.15.43.47.37.78v.84h-.8zm-1.33-2h.85c.16.06.37-.05.43-.2.05-.16-.06-.38-.22-.43h-1.06v.63zm11.38 2l-1.29-2.31v2.31h-1.6l-.27-.73h-1.5l-.26.73H21s-1.08-.15-1.08-1.63c0-1.79.91-1.84 1.28-1.84h1.02v.79h-.8c-.38.05-.64.37-.59.74v.26c0 1.16 1.39.79 1.44.79L23.3 9h1.12l1.23 3.1V9.06h1.12l1.28 2.27V9.05h.8v3.48l-1.22-.06zm-4.28-1.58h.8l-.37-1-.43 1zm-12.13 1.58v-2.36l-1.01 2.36h-.64l-1.02-2.36v2.36h-1.6l-.27-.73h-1.5l-.26.73H4L5.34 9h1.12l1.23 3.16v-3.1h1.28l.9 2.15.92-2.16h1.28v3.48l-.86-.06zM5.5 10.9h.8l-.38-1-.42 1zm7 1.58V9.05H15v.8h-1.7v.52h1.65v.79H13.3v.58H15v.73h-2.5zm6.3.06V9.05h.8v3.48h-.8zm1.76 4.42v-.69c0-.31-.26-.52-.58-.52h-.86v1.2h-.85v-3.41h2.08a.89.89 0 0 1 1.07.79v.2c0 .32-.16.64-.48.8.26.15.42.47.42.79v.84h-.8zm-1.39-2h.91c.16.05.38-.06.43-.21.05-.16-.05-.37-.21-.42a.16.16 0 0 0-.22 0h-.9v.63zm-4.32 2h-.75l-.91-1-.9 1H9.07v-3.42h3.15l.96 1.1 1.02-1.1h2.72c.53-.06 1.02.26 1.07.79v.2c0 1-.38 1.32-1.5 1.32h-.85v1.1h-.8zm-1.07-1.69l1.07 1.21v-2.36l-1.07 1.15zm-3.85.95h1.82l.85-.95-.85-.94H9.93v.52h1.76v.8H9.93v.57zm5.77-1.26h.91c.16.05.37-.06.43-.21.05-.16-.06-.37-.22-.42a.16.16 0 0 0-.21 0h-.9v.63zm10.74 2H24.9v-.8h1.34s.48.06.48-.26c0-.31-.75-.26-.75-.26-.59.1-1.07-.31-1.18-.84v-.16c-.05-.52.38-1 .91-1.05h1.82v.74h-1.34s-.48-.1-.48.26c0 .26.64.26.64.26s1.34-.1 1.34.95a1.1 1.1 0 0 1-.96 1.21h-.22l-.05-.05zm-4.6 0v-3.42h2.68v.79H22.7v.52h1.76v.8H22.7v.57h1.82v.74h-2.67zm7.6 0h-1.56v-.8h1.34s.48.06.48-.26c0-.31-.75-.26-.75-.26-.59.1-1.07-.31-1.17-.9v-.15c-.06-.53.37-1 .9-1.05h1.82v.79h-1.33s-.49-.1-.49.26c0 .26.65.26.65.26s1.33-.1 1.33.95A1.1 1.1 0 0 1 29.7 17h-.21c0-.05 0-.05-.06-.05z">
    </path>
  </g>
</svg>
