<div class="product-choice" style="display:<%=display%>;">

  <%# <!-- <form action="/filter" method="post"> %>
    <%# <input type='number' name="rowItemSelector" value="" min='1'> %>
  <%# </form> -->  %>

  <form action="/filter" method="post">
    <input type="submit" name='selection' value="All">
    <input type="submit" name='selection' value="T - Shirts">
    <input type="submit" name='selection' value="Hoodies">
  </form>

</div>
