<%- include('partials/header'); -%>

<div class="logo-container">
  <img class="rotate" src="images/flowers-both.png">
</div>

<div class="post-checkout-msg">
  <p>
    <a href="/cart">Something went wrong, try again!</a>
  </p>
</div>

<%- include('partials/footer'); -%>
